
/* start about section */
.about{
    position: relative;
    background: #014E56;
    
}
.about::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 200px;
    top: calc(50% - -4px);
    left: calc(50% + 659px);
    background-image: url("../images/about-hero-ciricle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.about__wrapper{
    padding-top: 130px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    
}
.about__title{
    margin: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
}
.about__text-box{
    width: 730px;
    
}
.about__text{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.about__text::before{
    padding-bottom: 40px;
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    border-top: 4px solid #f67e7e;
}
/* end of about section */

/* Mett start */
.mett {
    position: relative;
    padding-top: 140px;
    padding-bottom: 118px;
    background: #004047;
}
.mett::before{
    position: absolute;
    top: -4px;
    left: -52px;
    content: "";
    width: 200px;
    height: 200px;
    background-image: url(../images/about-meet-ciricle.svg);
    background-repeat: no-repeat;
    background-size: 96px;
    background-position:center;
}
.mett::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 147px;
    height: 100px;
    background-image: url(../images/mett-ciricle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
.mett__title-wrapper{
    position: relative;
}
.mett__title-wrapper h2{
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.mett__wrapper{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mett__box{
    position: relative;
}
.mett__linkk{
    position: absolute;
    bottom: 22px;
    left: 142px;
    width: 56px;
    height: 56px;
    background-color: #F67E7E;
    border-radius: 50%;
    background-image: url("../images/plus.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    transition: .5s ease;
    z-index: 1;
}
/* .mett__linkk:hover ~ .card {
    transform: rotateY(180deg);
} */
.rotaet{
    transform: rotateY(180deg);
}
.mett__linkk:hover {
    transform: rotate(45deg);
    background-color: #79C8C7;
}
.card {
    position: relative;
    margin-bottom: 50px;
    transform-style: preserve-3d;
    transition: .5s ease;
    list-style: none;
}
.card__from{
    width: 350px;
    background-color: #012F34;
    backface-visibility: hidden;
}
.card__from::before {
    content: "";
    width: 229px;
    height: 147px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 96px;
    background-position: calc(54% + 50px) calc(-31% + 50px);
    background-image: url(../images/nikita.png);
}
.card-img-two::before{
    background-image: url(../images/cristian.png);
}
.card-img-three::before{
    background-image: url(../images/cruz.png);
}
.card-img-four::before{
    background-image: url(../images/drake.png);
}
.card-img-five::before{
    background-image: url(../images/griffen.png);
}
.card-img-six::before{
    background-image: url(../images/aden.png);
}
.card__from h3{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}
.card__from p{
    padding-bottom: 56px;
    font-style: italic;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.card__back{
    top: 0;
    position: absolute;
    width: 350px;
    background-color: #002529;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.card__back h3{
    padding-top: 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}
.card__back p{
    padding: 8px 48px 24px 48px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.social-about__img {
    display: inline-block;
    margin-left: 145px;
    margin-bottom: 63px;
    text-decoration: none;
    fill: #fff;
}
.social-about__img:hover{
    fill: #F67E7E;
}
.social-about__img:nth-child(2){
    margin-left: 16px;
}
/* Mett finish*/

/* start clients section */
.clients{
    position: relative;
    background: #012F34;
}
.clients::before{
    position: absolute;
    top: calc(50% - 227px);
    left: calc(50% - 765px);
    width: 200px;
    height: 200px;
    content: "";
    background-image: url("../images/about-some-crircle.svg");
    background-repeat: no-repeat;
}
.clients__text-box{
    padding-top: 140px;
    width: 920px;
    margin-right: auto;
    margin-left: auto;
}
.clients__title{
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.clients__list{
    padding-top: 70px;
    padding-bottom: 151px;
    display: flex;
    justify-content: space-between;
}
.clients__item{
    list-style: none;
}

/* end of clients section */