/* VARIABLES */

:root {
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/livvic-v13-latin-regular.eot');
  src: url('../fonts/livvic-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'),
  url('../fonts/livvic-v13-latin-regular.woff') format('woff'),
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v13-latin-600.eot');
  src: url('../fonts/livvic-v13-latin-600.eot?#iefix') format('embedded-opentype'),
  url('../fonts/livvic-v13-latin-600.woff2') format('woff2'),
  url('../fonts/livvic-v13-latin-600.woff') format('woff'),
  
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v13-latin-700.eot');
  src: url('../fonts/livvic-v13-latin-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/livvic-v13-latin-700.woff2') format('woff2'),
  url('../fonts/livvic-v13-latin-700.woff') format('woff'),
}

/* GENERAL */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}


/* Build section */
.build{
  background: #012F34;
  
}
.build{
  background-image: url("../images/hero-section-ciricle.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 880px) calc(50% + 239px);
}
.build__wrapper{
  display: flex;
  justify-content: space-between;
  
}
.build__title-box{
  width: 445px;
  
}
.build__title{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  
}
.build__title::before{
  margin-top: 155px;
  padding-bottom: 54px;
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  border-top: 4px solid #F67E7E;
}
.build__list{
  padding-top: 198px;
  padding-bottom: 140px;
  
}
.build__item{
  position: relative;
  width: 455px;
  list-style: none;
  
}
.build__item:nth-child(2){
  padding-top: 32px;
  padding-bottom: 32px;
}
.build__item:nth-child(1)::before{
  position: absolute;
  z-index: 1;
  content: "";
  display: inline-block;
  background-image: url("../images/people.svg");
  background-repeat: no-repeat;
  top: 10px;
  left: -95px;
  width: 72px;
  height: 72px;
}
.build__item:nth-child(2)::before{
  position: absolute;
  z-index: 1;
  content: "";
  display: inline-block;
  background-image: url("../images/setinges.svg");
  background-repeat: no-repeat;
  top: 40px;
  left: -95px;
  width: 72px;
  height: 72px;
}
.build__item:nth-child(3)::before{
  position: absolute;
  z-index: 1;
  content: "";
  display: inline-block;
  background-image: url("../images/progress.svg");
  background-repeat: no-repeat;
  top: 10px;
  left: -95px;
  width: 72px;
  height: 72px;
}

.build__new-title{
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
  
}
.build__text{
  margin: 0;
  padding-top: 16px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  
}
/* End bild section */